@font-face {
	font-family: 'Editia';
	src: url(Fonts/EDITIA__.TTF) format(truetype);
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Editia';
	box-sizing: border-box;
}